body {
  border-top: 2px solid #ff66cc;
  border-left: 2px solid #ff66cc;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

main {
  margin-bottom: 20px;
}

footer {
  text-align: right;
}

.sleep {
  display: none;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
}


time {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

article {
  margin-bottom: 60px;
}

p {
  margin-bottom: 20px;
}

code {
  color: teal;
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}
