body {
  font-size: 18px;
  padding: 40px;
}

div.rey {
  width: 740px;
}

header {
  margin-bottom: 20px;
}

main {
  margin-bottom: 20px;
  width: 500px;
}

footer {
  clear: both;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

time {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

article {
  margin-bottom: 60px;
}

article blockquote {
  margin-left: 20px;
}

article img {
  max-width: 400px;
}

article#first {
  margin-bottom: 0;
}

article:target {
  background-color: #ffffcc;
}

article code {
  color: teal;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
}

p {
  margin-bottom: 20px;
}

b {
  font-weight: 700;
}

ol {
  margin-bottom: 20px;
  margin-left: 30px;
}
ol li {
  list-style-type: decimal;
}

